<!DOCTYPE html>
<html lang="en">
	<head>
		
		{{> common/include-meta}}
	
		{{> common/include-style}}
		
	</head>
	<body>
		
		{{> common/include-just-after-body-start}}

		<div id="header">{{> common/header}}</div>

		<div id="content">
			
			<div class="container">
				<div class="row">
					<div class="col-md-12"></div>
				</div>	
			</div>

		</div>
		
		<div id="footer">{{> common/footer}}</div>

		{{> common/include-just-before-body-end}}

	</body>
</html>