{{!-- <link rel="canonical" href="http://<?php echo $_SERVER['HTTP_HOST']; ?><?php echo parse_url( $_SERVER['REQUEST_URI'], PHP_URL_PATH ); ?>" /> --}}

<title>{{meta.title}}</title>
<meta name="description" content="{{meta.description}}">
<meta name="keywords" content="{{meta.keywords}}">
<meta name="author" content="">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="shortcut icon" href="{{set.root}}/img/favicon.png{{{ver_num}}}" type="image/png" />
<link rel="icon" href="{{set.root}}/img/favicon.ico" type="image/x-icon">

{{!-- Facebook | Open Graph protocol --}}
{{!-- <meta property="og:title" content="{{meta.share-title}}"/> --}}
{{!-- <meta property="og:description" content="{{meta.share-description}}"/> --}}
{{!-- <meta property="og:image" content="{{set.root}}/img/{{meta.share-image}}"/> --}}
{{!-- <meta property="og:type" content="website"/> --}}
{{!-- <meta property="og:url" content="<?php echo 'https://'. $_SERVER['SERVER_NAME'] . $_SERVER['REQUEST_URI'];?>"/> --}}
{{!-- <meta property="og:site_name" content="Red Orbit"/> --}}
{{!-- <meta property="fb:profile_id" content="redorbit.si"/> --}}

{{!-- Twitter | Photo card --}}
{{!-- <meta name="twitter:card" content="summary_large_image"> --}}
{{!-- <meta name="twitter:site" content="@red_orbit"> --}}
{{!-- <meta name="twitter:creator" content="@red_orbit"> --}}
{{!-- <meta name="twitter:title" content="{{meta.share-title}}"> --}}
{{!-- <meta name="twitter:description" content="{{meta.share-description}}"> --}}
{{!-- <meta name="twitter:image" content="{{set.root}}/img/{{meta.share-image}}"> --}}
{{!-- <meta property="twitter:url" content="<?php echo 'https://'. $_SERVER['SERVER_NAME'] . $_SERVER['REQUEST_URI'];?>" /> --}}
{{!-- <meta name="twitter:domain" content="{{set.root}}"> --}}

<meta name="robots" content="index,follow"/>

{{!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries --}}
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->



